.fatHead {
  margin-top: 20px;
}

.nearlyFull {
  max-width: 95% !important;
  width: 95% !important;
  margin-left: 20px;
}

.gradientBackground {
  background: lightblue;
  /*background: radial-gradient(circle, rgba(255,255,255,1) 74%, rgba(148,187,233,1) 100%);*/
  overflow: hidden; 
  margin: 0;
  height: 100%;
  width: 100%;
}

#narrative {
  min-height: 350px;
}