
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:      #006341,
  secondary:    #7BAFD4,
  danger:       #f53d3d,
  light:        #f4f4f4,
  dark:         #696A6C,
  /*UVMHN Color scheme - from branding guide at https://www.uvmhealth-brandhub.org/en-GB/Resources/Brand-Standards-Summary */
  uvmgreen:     #006341,
  sage:         #789D4A,
  riverrock:    #696A6C,
  pebble:       #97999B,
  champlainblue:#4F758B,
  coolstream:   #7bafd4,
  pumpkin:      #CB6015,
  melon:        #eca154,
  sugarmaple:   #715c2a,
  sandlewood:   #c6aa76,
/* jrm additions */
  selected:   #ffff80,
  viola: #3939B6,
    /* UVMHN alert colors*/
  normalForeground: #ffffff,
  normalBackground: #afe589,
  highForeground: #f7f742,
  highBackground: #edbe74,
  emergentForeground: #f7f742,
  emergentBackground: #f49c9c,
  testForeground: #ffff80,
  testBackground: #f2baf4
);

.fatHead {
  margin-top: 20px;
}

.nearlyFull {
  max-width: 95% !important;
  width: 95% !important;
  margin-left: 20px;
}

.gradientBackground {
  background: lightblue;
  /*background: radial-gradient(circle, rgba(255,255,255,1) 74%, rgba(148,187,233,1) 100%);*/
  overflow: hidden; 
  margin: 0;
  height: 100%;
  width: 100%;
}

.testAlert {
  background: map-get($colors, testBackground);
  color: map-get($colors, testForeground);
}

.normalAlert {
  background: map-get($colors, normalBackground);
  color: map-get($colors, normalForeground);
}

.highAlert {
  background:map-get($colors, highBackground);
  color: map-get($colors, highForeground);
}

.emergentAlert {
  background: map-get($colors, emergentBackground);
  color: map-get($colors, emergentForeground);
}

#narrative {
  min-height: 350px;
}
