<div id="alertWindow" class="gradientBackground">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12 text-center">
          <h1 id="title">{{ alert.title }}</h1>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col">
          <span id="at">Alert Type: <span id="alertType"></span></span>
        </div>
        <div class="col text-right">
          <span id="as">Sent: <span id="alertSent">{{ alert.alertTime }}</span></span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="narrative" class='form-control' rows=14 cols=15 [innerHtml]="alert.narrative" ng-model="alert.narrative"></div>
        </div>
      </div>
      <div class="container champlainBlue">
        <div class="row">
          <div class="col fatHead">
            <span class='tagline'>The heart and science of medicine.</span>
          </div>
          <div class="col text-center fatHead">
            <a href='#' (click)='ackAlert()' class="btn btn-outline-success">Acknowledge</a>
          </div>
          <div class="col text-right fatHead">
            <img src='./assets/UVMHealthNetwork.png' height="50" title="The University of Vermont Health Network">
          </div>
        </div>
      </div>
    </div>
</div>