<div id="prefsWindow" class="gradientBackground">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12 text-center">
          <h1 id="title">ElectroStat Preferences</h1>
        </div>
      </div>
      <hr />
      <div class="row">
       
      <div class="container champlainBlue">
        <div class="row">
          <div class="col fatHead">

          </div>
          <div class="col text-center fatHead">

          </div>
          <div class="col text-right fatHead">

          </div>
        </div>
      </div>
    </div>
</div>